<footer id="footer">
  <div class="footer-left">
    Copyright &copy; {{ now.Format "2006" }} {{ if .Site.Copyright }} {{ print .Site.Copyright | markdownify }} {{ else
    }} {{ print .Site.Title }} {{ end }}
    {{- if $.GitInfo -}}
    | <strong> gh</strong>: <a href="https://github.com/hosackm/hosackm.github.io/commit/{{ .GitInfo.Hash }}"
      rel="noopener">{{ .GitInfo.AbbreviatedHash }}</a>
    {{- else -}}
    &nbsp;
    {{- end -}}</a>
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>
</footer>
