{{ define "main" }}
  <section id="about">
  {{ if isset .Site.Params "description" }}
    {{ .Site.Params.description | $.Page.RenderString }}
  {{ end }}
  {{ if isset .Site.Params "social" }}
      <p>Find me on
      {{ $length := (len .Site.Params.social) }}
      {{ range $index, $elem := .Site.Params.social}}
        {{ if eq $elem.name "email" }}
          <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="{{ $elem.name }}">
            <svg fill="#2bbc8a" width="16" height="16" viewBox="0 -6 32 32" xmlns="http://www.w3.org/2000/svg"><title>Gmail</title><path d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z" /></svg>
          </a>
        {{ else if eq $elem.name "github"}}
          <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="{{ $elem.name }}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#2bbc8a" width="16" height="16" viewBox="0 0 32 32"><path d="M16,2.345c7.735,0,14,6.265,14,14-.002,6.015-3.839,11.359-9.537,13.282-.7,.14-.963-.298-.963-.665,0-.473,.018-1.978,.018-3.85,0-1.312-.437-2.152-.945-2.59,3.115-.35,6.388-1.54,6.388-6.912,0-1.54-.543-2.783-1.435-3.762,.14-.35,.63-1.785-.14-3.71,0,0-1.173-.385-3.85,1.435-1.12-.315-2.31-.472-3.5-.472s-2.38,.157-3.5,.472c-2.677-1.802-3.85-1.435-3.85-1.435-.77,1.925-.28,3.36-.14,3.71-.892,.98-1.435,2.24-1.435,3.762,0,5.355,3.255,6.563,6.37,6.913-.403,.35-.77,.963-.893,1.872-.805,.368-2.818,.963-4.077-1.155-.263-.42-1.05-1.452-2.152-1.435-1.173,.018-.472,.665,.017,.927,.595,.332,1.277,1.575,1.435,1.978,.28,.787,1.19,2.293,4.707,1.645,0,1.173,.018,2.275,.018,2.607,0,.368-.263,.787-.963,.665-5.719-1.904-9.576-7.255-9.573-13.283,0-7.735,6.265-14,14-14Z"></path></svg>
          </a>
        {{ else if eq $elem.name "linkedin"}}
          <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="{{ $elem.name }}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#2bbc8a" width="16" height="16" viewBox="0 0 32 32"><path d="M26.111,3H5.889c-1.595,0-2.889,1.293-2.889,2.889V26.111c0,1.595,1.293,2.889,2.889,2.889H26.111c1.595,0,2.889-1.293,2.889-2.889V5.889c0-1.595-1.293-2.889-2.889-2.889ZM10.861,25.389h-3.877V12.87h3.877v12.519Zm-1.957-14.158c-1.267,0-2.293-1.034-2.293-2.31s1.026-2.31,2.293-2.31,2.292,1.034,2.292,2.31-1.026,2.31-2.292,2.31Zm16.485,14.158h-3.858v-6.571c0-1.802-.685-2.809-2.111-2.809-1.551,0-2.362,1.048-2.362,2.809v6.571h-3.718V12.87h3.718v1.686s1.118-2.069,3.775-2.069,4.556,1.621,4.556,4.975v7.926Z" fill-rule="evenodd"></path></svg>
          </a>
        {{ else }}
          <!-- removed font awesome
          <a class="icon" target="_blank" rel="noopener" href="{{ $elem.link }}" aria-label="{{ $elem.name }}">
            <i class="fab fa-{{ lower $elem.name }}" aria-hidden="true"></i>
          </a>
          -->
        {{ end }}
        {{ if (lt (add $index 2) $length) }}
          {{- print " , " -}}
        {{ else if (lt (add $index 1) $length) }}
          {{- print " and " -}}
        {{ else }}
          {{- print "." -}}
        {{ end }}
      {{ end }}
      </p>
  {{ end }}
  {{ partial "optional-about.html" . }}
  </section>

  <section id="writing">
    <span class="h1"><a href="{{ .Site.Params.mainSection | absURL }}">{{ .Site.Params.mainSectionTitle | default "Writings" }}</a></span>
    {{ if (and (and (isset .Site.Params "tagsoverview") (eq .Site.Params.tagsOverview true)) (gt (len .Site.Taxonomies.tags) 0)) }}
    <span class="h2">Topics</span>
    <span class="widget tagcloud">
      {{ $AllRegularPagesCount := len .Site.RegularPages }}
      {{ range $elem := .Site.Taxonomies.tags.Alphabetical }}
      <a style="font-size: {{ (add 0.5 (mul 5 (div (float $elem.Count) $AllRegularPagesCount))) }}rem;" href="{{ $elem.Page.Permalink }}">
        {{- .Page.Title -}}
      </a>
      {{ end }}
    </span>
    <span class="h2">Most recent</span>
    {{ end }}

    {{ $showAllPostsOnHomePage := false }}
    {{ if (isset .Site.Params "showallpostsonhomepage") }}
      {{ $showAllPostsOnHomePage = .Site.Params.ShowAllPostsOnHomePage }}
    {{ end }}
    {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
    {{ $mainPosts := (sort ( where site.RegularPages "Type" "in" site.Params.mainSections ) "Date" "desc") }}
    {{ if $showAllPostsOnHomePage }}
    <ul class="post-list">
      {{ range (.Paginate $mainPosts).Pages }}
        <li class="post-item">
          <div class="meta"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
          <span><a href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
        </li>
      {{ end }}
    </ul>

    {{ partial "pagination.html" . }}

    {{ else }}
    <ul class="post-list">
      {{ .Scratch.Set "count" 5 }}
      {{ if isset .Site.Params "postsonhomepage" }}
        {{ .Scratch.Set "count" .Site.Params.postsOnHomePage }}
      {{ end }}
      {{ range (first (.Scratch.Get "count") $mainPosts) }}
        <li class="post-item">
          <div class="meta"><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></div>
          <span><a href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  </section>

  {{ $showProjectsList := false }}
  {{ if (isset .Site.Params "showprojectslist") }}
    {{ $showProjectsList = .Site.Params.showProjectsList }}
  {{ else if .Site.Data.projects }}
    {{ $showProjectsList = true }}
  {{ end }}
  {{ if $showProjectsList }}
    {{ $projectsUrl := "#" }}
    {{ if isset .Site.Params "projectsurl" }}
      {{ $projectsUrl = .Site.Params.projectsUrl }}
    {{ end }}
  <section id="projects">
    <span class="h1"><a href="{{ $projectsUrl }}">Projects</a></span>
    <ul class="project-list">
        {{ range .Site.Data.projects.list }}
        <li class="project-item">
          <a href="{{ .url }}">{{ .name }}</a>: {{ .desc | markdownify }}
        </li>
        {{ end }}
    </ul>
  </section>
  {{ end }}
{{ end }}
